{% extends 'base.html' %}
{% block title %}MediFirst | Disclaimer{% endblock %}
{% block content %}
{% load static %}

<style>
   .section-title{
    margin: 300px 100px 0px 100px;
  }
    @media only screen and (max-width: 600px) {
  .section-title{
    margin: 240px 20px 0 20px;
  }
}
</style>

<main id="main">
  <div class="section-title">
     <h2>Дисклеймер для MediFirst</h2>

      <p style="text-align: left;">Вся информация на этом сайте - MediFirst.co.in - публикуется добросовестно и только для общих информационных целей. MediFirst.co.in не дает никаких гарантий полноты, достоверности и точности этой информации. Любые действия, которые Вы предпринимаете на основании информации, которую Вы находите на этом сайте (MediFirst.co.in), - это исключительно Ваш риск. MediFirst.co.in не несет ответственности за любые убытки и/или убытки в связи с использованием нашего веб-сайта.</p><br>

      <p style="text-align: left;">На нашем сайте вы можете посетить другие веб-сайты, используя гиперссылки на такие внешние сайты. Хотя мы стремимся обеспечить только качественные ссылки на полезные и этичные веб-сайты, мы не имеем никакого контроля над содержанием и характером этих сайтов. Эти ссылки на другие веб-сайты не подразумевают рекомендацию для всех контента, найденных на этих сайтах. Владельцы сайта и контент могут измениться без уведомления и может произойти до того, как у нас будет возможность удалить ссылку, которая может пойти 'плохая'.</p><br>

      <h2>Согласие</h2>

      <p>Используя наш веб-сайт, вы тем самым соглашаетесь с нашим отказом от ответственности и согласны с его условиями.</p><br>

      <h2>Обновления</h2>

      <p>Если мы обновим, изменим или внесем какие-либо изменения в этот документ, эти изменения будут размещены здесь.</p>
    </div>
  </main><!-- End #main -->

{% endblock %}