{% extends 'base.html' %}
{% block title %}MediFirst | Privacy and Policy{% endblock %}
{% block content %}
{% load static %}
<style>
  p {
    text-align: left;
  }

  ul {
    text-align: left;
  }

  .section-title {
    margin: 300px 100px 0px 100px;
    ;
  }

  @media only screen and (max-width: 600px) {
    .section-title {
      margin: 240px 20px 0 20px;
    }
  }
</style>

<main id="main">
  <div class="section-title">
    <h1>Политика конфиденциальности для MediFirst</h1><br>

    <p>На MediFirst.co.in, доступном с MediFirst.co.in, одним из наших главных приоритетов является конфиденциальность наших посетителей.
      Этот документ политики конфиденциальности содержит типы информации, которая собирается и записывается MediFirst.co.in и
      как мы используем его.</p>

    <p>Если у вас есть дополнительные вопросы или требуется дополнительная информация о нашей политике конфиденциальности, не стесняйтесь обращаться к
      нас.</p>

    <br>
    <h2>Согласие</h2>

    <p style="text-align: center;">Используя наш веб-сайт, вы тем самым соглашаетесь с нашей политикой конфиденциальности и согласны с ее
      термины.</p>

    <br>
    <h2>Собираемая нами информация</h2>

    <p>Персональная информация, которую вы должны предоставить, и причины, по которым вам предлагается предоставить ее, будет
      ясно вам в момент, когда мы просим вас предоставить вашу личную информацию.</p>
    <p>Если вы свяжетесь с нами напрямую, мы можем получить дополнительную информацию о вас, например, ваше имя, адрес электронной почты,
      номер телефона, содержание сообщения и/или приложения, которые вы можете отправить нам, и любая другая информация, которую вы можете
      Выбрать, чтобы предоставить.</p>
    <p>Когда вы регистрируетесь для Счета, мы можем просить ваши контактные данные, включая такие элементы, как имя, компания
      имя, адрес, электронный адрес и номер телефона.</p>

    <br>
    <h2>Как мы используем вашу информацию</h2>

    <p>Мы используем собранную информацию различными способами, в том числе для:</p><br>

    <ul>
      <li>Предоставлять, эксплуатировать и поддерживать наши веб-сайт</li>
      <li>Улучшить, персонализировать и расширить наш веб-сайт</li>
      <li>Понять и проанализировать, как вы используете наш веб-сайт</li>
      <li>Разработка новых продуктов, услуг, функций и функциональности</li>
      <li>Связываться с вами, либо непосредственно или через одного из наших партнеров, в том числе для обслуживания клиентов, чтобы
        предоставлять Вам обновления и другую информацию, относящуюся к веб-сайту, а также для маркетинга и рекламного
        цели</li>
      <li>Отправлять вам электронные письма</li>
      <li>Выявление и предотвращение мошенничества</li>
    </ul>

    <br>
    <h2>Лог-файлы</h2>

    <p>MediFirst.co.in следует стандартной процедуре использования файлов журнала. Эти файлы регистрируют посетителей, когда они посещают
      веб-сайты. Все хостинг компании делают это и часть хостинговых услуг' аналитика. Информация, собранная
      файлы логов включают в себя адреса Интернет-протокола (IP), тип браузера, поставщика услуг Интернета (ISP), дата и время
      печать, ссылки/выезд и количество кликов. Они не связаны с информацией, которая
      персонально идентифицируемый. Цель информации для анализа тенденций, администрирования сайта, отслеживание
      Передвижение пользователей на веб-сайте и сбор демографической информации.</p>

    <br>
    <h2>Файлы cookie и веб-маяки</h2>

    <p>Как и любой другой веб-сайт, MediFirst.co.in использует 'cookie'. Эти cookies используются для хранения информации, в том числе
      предпочтения посетителей, и страницы на веб-сайте, которые посетитель проник или посетила. Информация используется
      для оптимизации опыта пользователей, адаптируя наш веб-сайт контент на основе типа браузера посетителей и/или другие
      информация.</p>

    <br>
    <h2>Google DoubleClick DART Cookie</h2>

    <p>Google является одним из сторонних поставщиков на нашем сайте. Он также использует cookie, известные как DART cookies, для размещения рекламы
      посетители нашего сайта, основанные на их посещении www.website.com и других сайтов в Интернете. Однако, посетители могут
      Вы можете отказаться от использования DART cookies, посетив сайт Google Ads и Content Network
      следующий URL – <a
        href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></p>

    <br>
    <h2>наши рекламные партнеры</h2>

    <p>Некоторые рекламодатели на нашем сайте могут использовать cookie и веб-баки. Наши партнеры по рекламе перечислены ниже. Каждый
      наших рекламных партнеров имеет свою собственную Политику конфиденциальности для их политики на пользовательские данные. Для облегчения доступа, мы
      гиперссылка на их политику конфиденциальности ниже.</p>

    <ul>
      <li>
        <p>Google</p>
        <p><a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></p>
      </li>
    </ul>

    <br>
    <h2>Политики конфиденциальности рекламных партнеров</h2>

    <P>Вы можете просмотреть этот список, чтобы найти политику конфиденциальности для каждого из рекламных партнеров MediFirst.co.in.</p>

    <p>Сторонние рекламные серверы или рекламные сети используют технологии, такие как cookie, JavaScript или веб-баки, которые используются в
      их соответствующие рекламные объявления и ссылки, которые появляются на MediFirst.co.in, которые отправляются непосредственно пользователям
      . Они автоматически получают ваш IP адрес, когда это происходит. Эти технологии используются для измерения
      эффективность их рекламных кампаний и/или персонализировать рекламное содержание, которое вы видите на
      веб-сайты, которые вы посещаете.</p>

    <p>Обратите внимание, что MediFirst.co.in не имеет доступа или контроля над этими cookie-файлами, которые используются третьими лицами
      рекламодатели.</p>

    <br>
    <h2>Политика конфиденциальности третьих лиц</h2>

    <p>Политика конфиденциальности MediFirst.co.in не применяется к другим рекламодателям или веб-сайтам. Таким образом, мы советуем вам
      Ознакомиться с соответствующими Политикой конфиденциальности этих сторонних рекламных серверов для получения более подробной информации. Он может
      включать в себя их практику и инструкции по отказу от определенных вариантов. </p>

    <p>Вы можете выбрать отключение cookie через ваши индивидуальные параметры браузера. Чтобы узнать более подробную информацию
      о режиме использования cookie-файлов в конкретных веб-браузерах, он можно найти на соответствующих веб-сайтах браузеров.</p>

    <br>
    <h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

    <p>Согласно CCPA, среди других прав, потребители Калифорнии имеют право:</p>
    <p>Требовать, чтобы предприятия, собирающие личные данные потребителей, раскрывали категории и конкретные элементы
      личные данные, которые предприятия собирают о потребителях.</p>
    <p>Просить бизнес удалить любые личные данные о потребителе, которые он собрал.</p>
    <p>Требовать, чтобы бизнес, продающий личные данные потребителя, не продавал его.</p>
    <p>Если вы делаете запрос, мы имеем один месяц, чтобы ответить вам. Если вы хотите осуществить любое из этих прав,
      Пожалуйста, свяжитесь с нами.</p>

    <br>
    <h2>GDPR Права на защиту данных</h2>

    <p>Мы хотим убедиться, что вы полностью осведомлены о всех ваших правах на защиту данных. Каждый пользователь имеет право
      Следующие вопросы:</p>
    <p>Право доступа - Вы имеете право запросить копии ваших персональных данных. Мы можем взимать с вас небольшой сбор
      для этой службы.</p>
    <p>Право на исправление - Вы имеете право просить нас исправить любую информацию, которую вы считаете
      неточность. Вы также имеете право потребовать от нас дополнить информацию, которую, по вашему мнению, не является полной.</p>
    <p>Право на удаление - Вы имеете право требовать от нас удаления ваших персональных данных при определенных условиях.
    </p>
    <p>Право на ограничение обработки - Вы имеете право просить нас ограничить обработку ваших личных данных
      данных, при определенных условиях.</p>
    <p>Право на возражение против обработки - Вы имеете право на то, чтобы мы не обрабатывали ваши персональные данные, согласно
      определенные условия.</p>
    <p>Право на переносимость данных - Вы имеете право потребовать, чтобы мы передали собранные нами данные в
      другой организации, или непосредственно к вам, при определенных условиях.</p>
    <p>Если вы делаете запрос, мы имеем один месяц, чтобы ответить вам. Если вы хотите осуществить любое из этих прав,
      Пожалуйста, свяжитесь с нами.</p>

    <br>
    <h2>Children's Information</h2>

    <p>Другой частью нашей приоритетной задачи является добавление защиты для детей при использовании интернета. Мы поощряем
      опекуны, которые наблюдают за их деятельностью в сети, участвуют в ее осуществлении и/или контролируют и направляют ее.</p>

    <p>MediFirst.co.in не собирает Персональные Данные детей в возрасте до
      13. Если вы считаете, что ваш ребенок предоставил этот вид информации на нашем сайте, мы настоятельно рекомендуем вам
      Немедленно свяжитесь с нами, и мы сделаем все возможное для того, чтобы быстро удалить такую информацию из наших записей.</p>
  </div>
</main><!-- End #main -->

{% endblock %}