{% extends 'base.html' %}
{% block title %}MediFirst | Terms and Services{% endblock %}
{% block content %}
{% load static %}

<style>
    p{
      text-align: left;
    }
    ul{
      text-align: left;
    }
   .section-title{
    margin: 300px 100px 0px 100px;;
  }
    @media only screen and (max-width: 600px) {
  .section-title{
    margin: 240px 20px 0 20px;
  }
}
</style>


<main id="main">
  <div class="section-title">
     <h1>Условия использования веб-сайта</h1>

    <br><h2>1. Условия</h2>

    <p>При посещении данного сайта, доступного от MediFirst.co.in, вы соглашаетесь с этими Условиями использования веб-сайта и согласны, что вы несете ответственность за соглашение с любыми применимыми местными законами. Если вы не согласны с любым из этих условий, вам запрещен доступ к этому сайту. Материалы, содержащиеся на этом сайте, защищены авторским правом и торговым марками.</p>

    <br><h2>2. Лицензия на использование</h2>

    <p>Разрешение на временную загрузку одного экземпляра материалов на веб-сайте MediFirst для личного, некоммерческого просмотра только. Это предоставление лицензии, а не передача права собственности, и в соответствии с этой лицензией вы не можете:</p><br>

    <ul>
        <li>изменять или копировать материалы;</li>
        <li>использовать материалы для любых коммерческих целей или для любой публичной демонстрации;</li>
        <li>попытка реверсивной инженерии любого программного обеспечения, содержащегося на веб-сайте MediFirst;</li>
        <li>удалить из материалов любые авторские или другие авторские ноты; или</li>
        <li>передача материалов другому лицу или "зеркало" материалы на любом другом сервере.</li>
    </ul>

    <br><h2>3. Оговорка</h2>

    <p>Все материалы на веб-сайте MediFirst предоставляются "в том виде, в каком они представлены". MediFirst не дает никаких гарантий, как бы они ни были выражены или подразумевались, поэтому лишает всех других гарантий. Кроме того, MediFirst не делает никаких заявлений относительно точности или надежности использования материалов на своем веб-сайте или каким-либо иным образом относящихся к таким материалам или любым сайтам, связанным с этим веб-сайтом.</p>

    <br><h2>4. Ограничения</h2>

    <p>MediFirst или его поставщики не будут нести ответственности за любой ущерб, который может возникнуть в результате использования или неспособности использовать материалы на веб-сайте MediFirst, даже если MediFirst или уполномоченный представитель этого сайта был уведомлен, устно или письменно, о возможности такого ущерба. Некоторые юрисдикции не допускают ограничений на подразумеваемые гарантии или ограничения ответственности за случайные убытки, эти ограничения могут не применяться к вам.</p>

    <br><h2>5. Пересмотр и исправления</h2>

    <p>Материалы, размещенные на веб-сайте MediFirst могут содержать технические, типографские или фотографические ошибки. MediFirst не гарантирует, что все материалы на этом сайте являются точными, полными или актуальными. MediFirst может в любой момент без уведомления изменить материалы, содержащиеся на своем Веб-сайте. MediFirst не берет на себя никаких обязательств по обновлению материалов.</p>

    <br><h2>6. Ссылки</h2>

    <p>MediFirst не проверяет все сайты, связанные с его Веб-сайтом и не несет ответственности за содержание любого из таких сайтов. Наличие какой-либо ссылки не означает одобрения со стороны MediFirst сайта. Использование любого связанного веб-сайта осуществляется на риск пользователя.</p>

    <br><h2>7. Условия использования сайта Изменения</h2>

    <p>MediFirst может в любой момент без предварительного уведомления пересмотреть настоящие Условия использования для своего веб-сайта. Используя этот веб-сайт, вы соглашаетесь с действующим вариантом этих Условий использования.</p>

    <p style="text-align: center;">Любой иск, связанный с веб-сайтом MediFirst, регулируется законами РФ без учета коллизионных положений.</p>
        </div>
</main><!-- End #main -->

{% endblock %}